<template>
    <v-btn
      @click.stop="handleClick"
      color="rgba(250,250,250,0.4)"
      fab
      dark
      fixed
    >
      <v-icon>mdi-chevron-right</v-icon>
    </v-btn>
</template>
<script>
    export default {
        model: {
            event: 'open-menu'
        },
        methods: {
            handleClick: function() {
                this.$emit('open-menu');
            }
        }
    }
</script>
<style scoped>
button {
    top: 4vw;
    left: 4vw;
}
</style>