<template>
    <v-navigation-drawer 
      app
      :value="open"
      @input="handleCloseMenu"
      temporary
    >
      <v-list-item
        link
        class="px-2"
        @click="handleItemSelected({ title: 'Accueil', id: 'CoachRoroApp', icon: 'mdi-account-search-outline' })"
      >
        <v-list-item-avatar>
          <v-icon>mdi-home-city</v-icon>
        </v-list-item-avatar>

        <v-list-item-title>Accueil</v-list-item-title>

        <v-btn
          icon
          @click.stop="handleCloseMenu(false)"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.id"
          link
          @click.stop="handleItemSelected(item)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
  export default {
    model: {
      event: ['item-selected', 'close-menu']
    },
    props: {
      open: Boolean,
      items: Array,
    },
    methods: {
      handleItemSelected: function (item) {
        this.$emit('item-selected', item);
      },
      handleCloseMenu: function (value) {
        this.$emit('close-menu', value);
      }
    },
  }
</script>