<template>
  <v-app id="CoachRoroApp">
    <CoachRoroMenuButton @open-menu="handleUpdateDrawer(true)" />
    <CoachRoroDrawer
      :open="showDrawer" 
      :items="items.slice(1)"
      @close-menu="handleUpdateDrawer"
      @item-selected="handleDrawerItemSelected"
    />
    <v-content>
      <v-container fluid class="ma-0 pa-0">
        <v-parallax
          src="https://www.crossfitbns.fr/uploadfiles/gallery/15375403560CrossFit-BNS-40-Strongman-Benesse.jpg"
        >
            <v-row
            align="center"
            justify="center"
            >
                <v-col class="text-center" cols="12">
                    <h1>{{items[0].title}}</h1>
                    <h4 class="subheading">{{items[0].subtitle}}</h4>
                </v-col>
            </v-row>
        </v-parallax>

        <template v-for="(item, index) in items.slice(1)">
          <v-container tag="section"
            :key="item.id"
            :id="item.id"
            class="pa-6"
          >
            <v-row
              align="center"
              justify="center"
            >
                  <v-col cols="12" :class="{'text-right': index % 2}">
                      <h2 class="headline pb-5">
                        <a :href="'#' + item.id">#</a> {{item.title}}
                      </h2>
                      <v-divider class="pb-5"></v-divider>
                      <p v-if="item.content" class="body-1">{{item.content}}</p>
                      <ul v-else>
                        <li>
                          <p class="body-1">Phone: {{item.items.phone}}</p>
                        </li>
                        <li>
                          <p class="body-1">Email: {{item.items.email}}</p>
                        </li>
                        <li>
                          <p class="body-1">Facebook: <a :href="item.items.facebook"><v-icon>mdi-facebook</v-icon></a></p>
                        </li>
                        <li>
                          <p class="body-1">Instagram: <a :href="item.items.instagram"><v-icon>mdi-instagram</v-icon></a></p>
                        </li>
                      </ul>
                  </v-col>
              </v-row>
          </v-container>        
        </template>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import CoachRoroDrawer from '../components/CoachRoroDrawer';
  import CoachRoroMenuButton from '../components/CoachRoroMenuButton';
  import intro from '../assets/content/intro.json';
  import about from '../assets/content/about.json';
  import benefit from '../assets/content/benefit.json';
  import contact from '../assets/content/contact.json';

  export default {
    props: {
      source: String,
    },
    methods: {
      handleUpdateDrawer (value) {
        this.showDrawer = value;
      },
      handleDrawerItemSelected (item) {
        if (window && window.history.replaceState) {
          window.history.replaceState({}, null , `#${item.id}`)
        }
        this.$vuetify.goTo(`#${item.id}`);
      }
    },
    data () {
      return {
        showDrawer: false,
        items: [
          { ...intro, id: 'intro' /** No need for icon since it's the same as home */},
          { ...about, id: 'about', icon: 'mdi-information-outline'},
          { ...benefit, id: 'benefit', icon: 'mdi-weight-lifter'},
          { ...contact, id: 'contact', icon: 'mdi-email-outline'},
        ], 
      }
    },
    created () {
      this.$vuetify.theme.dark = true;
    },
    components: {
      CoachRoroDrawer,
      CoachRoroMenuButton,
    }
  }
</script>
